/battery.cpp
/battery.exe
/batteryPercentage.txt
/links.txt
/newBattery.exe
/pop-up.cpp
/pop-up.exe
/s1.bat
/s1.bat - Shortcut.lnk
/sleep.cpp
/sleep.exe
/currentlyMemUsed.cpp
/currentlyMemUsed.exe
/.vscode/*

# remove them
/changeLimit.exe
/values.txt
/batS.cpp
/batS.exe